# Системные файлы и директории операционной системы
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# Логи и временные файлы
/logs/
/tmp/
/bitrix/cache/
/bitrix/managed_cache/
/bitrix/html_pages/
/bitrix/stack_cache/
/bitrix/modules/.settings.php
/bitrix/modules/.settings_extra.php
/local/cache/
/local/php_interface/dbconn.php

# Загрузка файлов
/upload/
/bitrix/backup/

# Личные файлы и конфигурации
/.env
/local/php_interface/init.php

# Файлы IDE
.idea/
/*.iml
.vscode/

# Composer файлы и директории
/vendor/
/composer.lock

# Служебные файлы
*.log
*.tar.gz

# Bitrix 24
/ai/*
/apconnect/*
/desktop_app/*
/marketplace/*
/onec/*

# Исключаем папку /bitrix кроме некоторых подпапок
!/bitrix
/bitrix/*

# Оставляем печатные формы интернет-магазина
!/bitrix/admin/
/bitrix/admin/*
!/bitrix/admin/reports/

# Оставляем нестандартные компоненты
!/bitrix/components/
/bitrix/components/bitrix/

# Сохраняем весь php_interface за редкими исключениями
!/bitrix/php_interface/
/bitrix/php_interface/dbconn.ph*
/bitrix/php_interface/after_connect*
/bitrix/php_interface/logs/

# Сохраняем шаблоны сайта
!/bitrix/templates/

# Исключаем логи
/local/php_interface/logs/
/local/logs/

# Различные системные папки и файлы хостингов и операционных систем
/cgi-bin/
/awstats/
/webstat/

# Исключаем все текстовые и подобные ресурсы
*.xml
*.html
*.txt
*.css.map

# Архивы, включая многотомные
*.zip
*.zip*
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
.hg
.ftpconfig
*.doc
*.docx
*.pdf
*.rtf
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch
core.*

# Храним robots.txt
!/robots.txt

otus/console.php
otus/test.php
